:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: var(--cream);
}

.card {
	max-width: 350px;
	height: 100%;
	max-height: 650px;
	background-color: var(--white);
	border-radius: 12px;
	overflow: hidden;
}

.card__image {
	height: 40%;
	overflow: hidden;
}

.card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60%;
	padding: 28px;
}

.card__type {
	font-size: 12px;
	color: var(--dark-grayish-blue);
	letter-spacing: 5px;
}

.card__header {
	font-size: 32px;
	font-family: 'Fraunces', serif;
	line-height: 1;
}

.card__description {
	font-size: 14px;
	color: var(--dark-grayish-blue);
	line-height: 1.5;
}

.card__price {
	display: flex;
	font-size: 32px;
	font-family: 'Fraunces', serif;
	color: var(--dark-cyan);
}

.card__cut-price {
	align-self: center;
	margin-left: 16px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
}

.card__button {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 16px 0;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background-color: var(--dark-cyan);
	border: 0;
	border-radius: 8px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.card__button:hover {
	background-color: hsl(158, 58%, 12%);
}

.card__icon-cart {
	margin-right: 8px;
}

@media (min-width: 768px) {
	.card {
		display: flex;
		max-width: 750px;
		max-height: 550px;
	}

	.card__image {
		width: 50%;
		height: 100%;
	}

	.card__information {
		width: 50%;
		height: 100%;
		padding: 36px;
	}

	.card__type {
		font-size: 16px;
	}

	.card__header {
		font-size: 48px;
	}

	.card__description {
		font-size: 18px;
	}

	.card__price {
		font-size: 40px;
	}

	.card__cut-price {
		font-size: 16px;
	}

	.card__button {
		font-size: 16px;
	}
}
